* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    /* max-width: 500px; */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 5% 0;
}

.main {
    gap: 20px;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
}

.search {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

input {
    text-align: center;
    justify-items:auto;
    width: 100%;
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

button {
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 20px;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}


.weather-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.weather-infoContainer {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    width: 100%;
}   

.forecastCards {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 40px;
    margin: 10%;
    justify-content: center;
}
.weeklyForecastContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
}
/* 
.forecastCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

} */

@media screen and (max-width: 700px) {
    .main {
        flex-direction: column;
    }
    
    input {
        width: 100%;
    }

    .msg {
        position: static;
        max-width: none;
        min-height: 0;
        margin-top: 10px;
    }

}

